accessLevels: [public, protected, private]
destination: API
download: false
exclude: {*_old, *.old, *.old.*} 
source: {src/Controller, src/Core, src/Log, src/Model, src/Network, src/Shell, src/Utility, src/View}
main: MeTools
php: false
title: MeTools API
todo: true