parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method MeTools\\\\Controller\\\\Component\\\\FlashComponent\\:\\:otherName\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/Controller/Component/FlashComponentTest.php

		-
			message: "#^Call to an undefined method Cake\\\\Controller\\\\Component&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:mimetype\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/Controller/Component/UploaderComponentTest.php

		-
			message: "#^Call to an undefined method Cake\\\\Controller\\\\Component&PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:save\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/Controller/Component/UploaderComponentTest.php

		-
			message: "#^Cannot access property \\$Uploader on Cake\\\\Controller\\\\Controller\\|null\\.$#"
			count: 3
			path: tests/TestCase/TestSuite/IntegrationTestTraitTest.php

		-
			message: "#^Cannot call method components\\(\\) on Cake\\\\Controller\\\\Controller\\|null\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/IntegrationTestTraitTest.php

		-
			message: "#^Cannot call method withCookie\\(\\) on Cake\\\\Http\\\\Response\\|null\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/IntegrationTestTraitTest.php

		-
			message: "#^Call to an undefined method MeTools\\\\View\\\\Helper\\\\HtmlHelper\\:\\:noExistingMethod\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/View/Helper/HtmlHelperTest.php

