includes:
    - phpstan-baseline.neon

parameters:
    level: 7

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        - '#^(Ternary operator condition|If condition|Negated boolean expression|Result of &&|(Left|Right) side of &&) is always (true|false)\.$#'
        - '#^Parameter \#1 \$(callback|function) of function (array_map|call_user_func) expects#'

        -
            message: '#^(Access|Call) to (an undefined|protected) (property|method) (Cake|Psr)#'
            path: tests/TestCase
