parameters:
	ignoreErrors:
		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/TestSuite/ComponentTestCase.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/TestSuite/ComponentTestCase.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/TestSuite/ComponentTestCase.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: src/TestSuite/HelperTestCase.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/TestSuite/HelperTestCase.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/TestSuite/HelperTestCase.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: src/View/OptionsParser.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: src/View/OptionsParser.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateDirectoriesCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateDirectoriesCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateDirectoriesCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreatePluginsLinksCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreatePluginsLinksCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreatePluginsLinksCommandTest.php

		-
			message: "#^Ternary operator condition is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreatePluginsLinksCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateRobotsCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateRobotsCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateRobotsCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateVendorsLinksCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateVendorsLinksCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/CreateVendorsLinksCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/FixComposerJsonCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/FixComposerJsonCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/FixComposerJsonCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/RunAllCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/RunAllCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/RunAllCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/SetPermissionsCommandTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/SetPermissionsCommandTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/Command/Install/SetPermissionsCommandTest.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/ConsoleIntegrationTestTraitTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/ConsoleIntegrationTestTraitTest.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/ConsoleIntegrationTestTraitTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/TestCase/TestSuite/IntegrationTestTraitTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 2
			path: tests/TestCase/Utility/BBCodeTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/TestCase/View/Helper/DropdownHelperTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/TestCase/View/Helper/FormHelperTest.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: tests/TestCase/View/OptionsParserTest.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: tests/TestCase/View/Widget/HiddenWidgetTest.php

